<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="container">
        <h2>회원가입</h2>
        <form action="/register.do" method="post">
            아이디 : <input type="text" name="id"><br>
            비밀번호 : <input type="password" name="password"><br>
            이름 : <input type="text" name="name"><br>
            주소 : <input type="text" name="address"><br>
            <input type="submit" value="가입">
        </form>
    </div>
</body>
</html>